/* forms.css
   all code related to forms is in this file.

   */
.help-inline {
	color:#cc0000;
}

.help-block {
	display:block;
	line-height:1.4em;
}

.sb_form input[type="text"], .sb_form input[type="email"], .sb_form input[type="password"] {
	line-height: 1.4em;
	padding: 4px;
	font-size: 1.2em;
}


/*  Search   */
#search {

	margin:0px;
	padding:0px;
}

#search input{

	width: 534px;
	height: 32px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
  	border-radius: 4px;
  	border: 1px solid #000000;

  	background-image:url('../images/sb_search_icon.png');
  	background-repeat: no-repeat;
  	background-position: 543px center;

  	padding: 6px 40px 6px 6px;
  	font-size: 28px;

}
