# css file for seenbefore.com

* {
	margin: 0px;
	padding: 0px;


}

body {
	font-size:14px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: rgb(255,255,255);
}


h1 {

}

h2 {

}

h3 {

}

a {
	text-decoration:none;
}

p{
	line-height:1.4em;
	font-size:1.4em;
}


#container {
	margin: 0 auto;
	width: 980px;
	padding: 0 0;
}

#leftcol {
	float:left;
	width:450px;
	padding:20px;
}

#rightcol{
	float:left;
	width:450px;
	padding:20px;
}

#rightcol img, #rightcol button {
	margin: 20px auto;
	display:block;
}

#footer{
	clear:both;
}

#footer ul{
	display:inline;
}

#footer ul li{

}

.clear {
	clear: both;
}

.login {
	line-height:40px;
	width:100%;
	text-align:right;
}

.content_block {

	margin:40px 0;
}

.cta_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0077cc), color-stop(1, #0055cc) );
	background:-moz-linear-gradient( center top, #0077cc 5%, #0055cc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0077cc', endColorstr='#0055cc');
	background-color:#0077cc;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	color:#ffffff;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:24px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #336699;
	height: 54px;
	width: 210px;
}.cta_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0055cc), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #0055cc 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0055cc', endColorstr='#468ccf');
	background-color:#0055cc;
}.cta_button:active {
	position:relative;
	top:1px;
}